{{#each this}}

  <div class="flex">
    <div class="float-left">
      <p class="comment-text">{{comment}}</p>
      <p>-
        <strong>{{user.username}}</strong>,
        {{format_date created_at}}</p>
    </div>
  </div>

{{/each}}