<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Audiowide"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Electrolize"
    />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>The Tech Blog</h1>
    </header>
    <nav class="navtext">
      <a id="navtext" href="/">Home</a>
      <!-- If the user is logged in, show a logout button -->
      {{#if loggedIn}}
        <a id="navtext" href="/dashboard">Dashboard</a>
        <a class="logout" id="navtext">Logout</a>
      {{else}}
        <!-- Otherwise, show a link to login -->
        <a id="navtext" href="/login">Dashboard</a>
        <a id="navtext" href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <div class="home-posts">
        {{{body}}}
      </div>
    </main>
    <!-- If the user is logged in, load the JS script for when they logout -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>