<div class="row">
  <div class="col-auto">
    <h2>{{username}}, Enter new post info below:</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-post-form">
      <div class="form-group">
        <strong for="post-title">Post Title:</strong>
        <input
          class="form-input"
          type="text"
          id="post-title"
          name="post-title"
        />
      </div>
      <div class="form-group">
        <strong for="post-content">Post Content:</strong>
        <textarea
          class="form-input"
          id="post-content"
          name="post-content"
        ></textarea>
      </div>
      <div class="form-group">
        <button
          id="createButton"
          type="submit"
          class="btn btn-primary"
        >Create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newpost.js"></script>