:root {
  --primary: #27374d;
  --secondary: #526d82;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #dbdfea;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-align: center;
}

nav a:hover {
  color: var(--light);
  background-color: var(--primary);
}

.home-posts {
  flex: 4;
  background-color: #dde6ed;
  padding: 50px;
  display: flex;
  flex-flow: column;
}

.comment-text {
  font-style: italic;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

/* CARDS */
.card {
  margin: 10px;
  flex: 0 1 150px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
  padding: 10px;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 100%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--secondary);
  color: var(--light);
}

.card header {
  color: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
